infra/n8n/workflows/agent_problem_definition_v1.json
{
  "id": "4fc3c349-f8da-401d-a382-70e5e558aa6e",
  "name": "agent_problem_definition_v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-problem-definition-v1",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9782a7bf-69bd-4f87-a8cf-a2a2c219d5f4",
      "name": "Webhook_AgentProblemDefinition",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        260,
        300
      ],
      "webhookId": "agent-problem-definition-v1"
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "request_id",
              "value": "={{ $json.body.request_id || $execution.id }}"
            },
            {
              "name": "workflow_version",
              "value": "agent_problem_definition_v1"
            }
          ]
        },
        "options": {}
      },
      "id": "f3ab823c-fdb8-45e0-8cb3-70e39d7bfbfb",
      "name": "Set_AgentPayload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3001/internal/agents/problem-definition/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-shared-secret",
              "value": "={{ $env.INTERNAL_SHARED_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { request_id: $json.request_id, workflow_version: $json.workflow_version, workflow_execution_id: $execution.id, session_id: $node[\"Webhook_AgentProblemDefinition\"].json.body.session_id, trigger: $node[\"Webhook_AgentProblemDefinition\"].json.body.trigger } }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "4ebdd524-9f7d-4e27-afc6-e33d2fcaad34",
      "name": "HTTP_RunProblemDefinitionTurn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        300
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "a645fef2-b9b7-4a56-8a94-b7902f7d6da8",
      "name": "Respond_AgentTurn",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1100,
        300
      ]
    }
  ],
  "connections": {
    "Webhook_AgentProblemDefinition": {
      "main": [
        [
          {
            "node": "Set_AgentPayload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_AgentPayload": {
      "main": [
        [
          {
            "node": "HTTP_RunProblemDefinitionTurn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_RunProblemDefinitionTurn": {
      "main": [
        [
          {
            "node": "Respond_AgentTurn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "agent_problem_definition_v1"
}
