infra/n8n/workflows/agent_solution_definition_v1.json
{
  "id": "6c7904ff-a34e-43c4-9aa7-dfe83e2c0601",
  "name": "agent_solution_definition_v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-solution-definition-v1",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "26a237c7-dd68-4a8f-8833-44c3031a1bc5",
      "name": "Webhook_AgentSolutionDefinition",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        260,
        300
      ],
      "webhookId": "agent-solution-definition-v1"
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "request_id",
              "value": "={{ $node[\"Webhook_AgentSolutionDefinition\"].json.headers?.[\"x-request-id\"] || $node[\"Webhook_AgentSolutionDefinition\"].json.body?.request_id || $execution.id }}"
            },
            {
              "name": "workflow_version",
              "value": "agent_solution_definition_v1"
            }
          ]
        },
        "options": {}
      },
      "id": "75bc3c5d-66f7-4ef1-b36b-2444051bc5cd",
      "name": "Set_AgentPayload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3001/internal/agents/solution-definition/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-shared-secret",
              "value": "={{ $env.INTERNAL_SHARED_SECRET }}"
            },
            {
              "name": "x-request-id",
              "value": "={{ $node[\"Webhook_AgentSolutionDefinition\"].json.headers?.[\"x-request-id\"] || $node[\"Webhook_AgentSolutionDefinition\"].json.body?.request_id || $execution.id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { request_id: ($node[\"Webhook_AgentSolutionDefinition\"].json.headers?.[\"x-request-id\"] || $node[\"Webhook_AgentSolutionDefinition\"].json.body?.request_id || $execution.id), workflow_version: $json.workflow_version, workflow_execution_id: $execution.id, session_id: $node[\"Webhook_AgentSolutionDefinition\"].json.body.session_id, trigger: $node[\"Webhook_AgentSolutionDefinition\"].json.body.trigger } }}",
        "options": {
          "timeout": 960000,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "c0edb134-6314-4833-b914-314449402cc5",
      "name": "HTTP_RunSolutionDefinitionTurn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.body ?? $json }}",
        "options": {
          "responseCode": "={{ Number($json.statusCode ?? 200) }}"
        }
      },
      "id": "53dbf253-6c5e-440c-b710-a4872d15ae53",
      "name": "Respond_AgentTurn",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1100,
        300
      ]
    }
  ],
  "connections": {
    "Webhook_AgentSolutionDefinition": {
      "main": [
        [
          {
            "node": "Set_AgentPayload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_AgentPayload": {
      "main": [
        [
          {
            "node": "HTTP_RunSolutionDefinitionTurn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_RunSolutionDefinitionTurn": {
      "main": [
        [
          {
            "node": "Respond_AgentTurn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "agent_solution_definition_v1"
}
