infra/n8n/workflows/agent_data_ai_privacy_gap_v1.json
{
  "id": "b487fd4d-0c88-4a9c-a10b-38f08a83a887",
  "name": "agent_data_ai_privacy_gap_v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-data-ai-privacy-gap-v1",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "08ac059b-3bdc-4c16-8f34-ef739c22b0ef",
      "name": "Webhook_AgentDataAiPrivacyGap",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        260,
        300
      ],
      "webhookId": "agent-data-ai-privacy-gap-v1"
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "request_id",
              "value": "={{ $node[\"Webhook_AgentDataAiPrivacyGap\"].json.headers?.[\"x-request-id\"] || $node[\"Webhook_AgentDataAiPrivacyGap\"].json.body?.request_id || $execution.id }}"
            },
            {
              "name": "workflow_version",
              "value": "agent_data_ai_privacy_gap_v1"
            }
          ]
        },
        "options": {}
      },
      "id": "31590ab7-8410-4104-9ad7-b8fac50fd92d",
      "name": "Set_AgentPayload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3001/internal/agents/data-ai-privacy/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-shared-secret",
              "value": "={{ $env.INTERNAL_SHARED_SECRET }}"
            },
            {
              "name": "x-request-id",
              "value": "={{ $node[\"Webhook_AgentDataAiPrivacyGap\"].json.headers?.[\"x-request-id\"] || $node[\"Webhook_AgentDataAiPrivacyGap\"].json.body?.request_id || $execution.id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { request_id: ($node[\"Webhook_AgentDataAiPrivacyGap\"].json.headers?.[\"x-request-id\"] || $node[\"Webhook_AgentDataAiPrivacyGap\"].json.body?.request_id || $execution.id), workflow_version: $json.workflow_version, workflow_execution_id: $execution.id, session_id: $node[\"Webhook_AgentDataAiPrivacyGap\"].json.body.session_id, trigger: $node[\"Webhook_AgentDataAiPrivacyGap\"].json.body.trigger } }}",
        "options": {
          "timeout": 450000,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "4e285645-bf16-4ef4-ae0a-dc00bdd3f8ec",
      "name": "HTTP_RunDataAiPrivacyGapTurn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.body ?? $json }}",
        "options": {
          "responseCode": "={{ Number($json.statusCode ?? 200) }}"
        }
      },
      "id": "0cc24345-cdf2-414c-98a2-5806211f4ca5",
      "name": "Respond_AgentTurn",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1100,
        300
      ]
    }
  ],
  "connections": {
    "Webhook_AgentDataAiPrivacyGap": {
      "main": [
        [
          {
            "node": "Set_AgentPayload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_AgentPayload": {
      "main": [
        [
          {
            "node": "HTTP_RunDataAiPrivacyGapTurn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_RunDataAiPrivacyGapTurn": {
      "main": [
        [
          {
            "node": "Respond_AgentTurn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "agent_data_ai_privacy_gap_v1"
}
