infra/n8n/workflows/medical_device_triage_start_v1.json
{
  "id": "0c6f4eb8-342e-4e33-b0b0-7a64e2cf7b37",
  "name": "medical_device_triage_start_v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "medical-device-triage-start-v1",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "da0253fa-09c1-4ea7-9f40-1730e3ecf7ff",
      "name": "Webhook_MedicalDeviceTriageStart",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        260,
        300
      ],
      "webhookId": "medical-device-triage-start-v1"
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "request_id",
              "value": "={{ $node[\"Webhook_MedicalDeviceTriageStart\"].json.headers?.[\"x-request-id\"] || $node[\"Webhook_MedicalDeviceTriageStart\"].json.body?.request_id || $execution.id }}"
            },
            {
              "name": "workflow_version",
              "value": "medical_device_triage_start_v1"
            }
          ]
        },
        "options": {}
      },
      "id": "2a658178-717f-430a-8166-c7cfcf154350",
      "name": "Set_StartPayload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3001/internal/sessions/medical-device-triage-start",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-shared-secret",
              "value": "={{ $env.INTERNAL_SHARED_SECRET }}"
            },
            {
              "name": "x-request-id",
              "value": "={{ $node[\"Webhook_MedicalDeviceTriageStart\"].json.headers?.[\"x-request-id\"] || $node[\"Webhook_MedicalDeviceTriageStart\"].json.body?.request_id || $execution.id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { request_id: ($node[\"Webhook_MedicalDeviceTriageStart\"].json.headers?.[\"x-request-id\"] || $node[\"Webhook_MedicalDeviceTriageStart\"].json.body?.request_id || $execution.id), workflow_version: $json.workflow_version, workflow_execution_id: $execution.id, payload: $node[\"Webhook_MedicalDeviceTriageStart\"].json.body } }}",
        "options": {
          "timeout": 960000,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "c5d255df-a4c7-46c8-a1fd-1ed342b2225d",
      "name": "HTTP_StartMedicalDeviceTriage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.body ?? $json }}",
        "options": {
          "responseCode": "={{ Number($json.statusCode ?? 200) }}"
        }
      },
      "id": "93e38562-b4e2-4417-a98f-f9d63f4898e1",
      "name": "Respond_Start",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1080,
        300
      ]
    }
  ],
  "connections": {
    "Webhook_MedicalDeviceTriageStart": {
      "main": [
        [
          {
            "node": "Set_StartPayload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_StartPayload": {
      "main": [
        [
          {
            "node": "HTTP_StartMedicalDeviceTriage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_StartMedicalDeviceTriage": {
      "main": [
        [
          {
            "node": "Respond_Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "medical_device_triage_start_v1"
}
