infra/n8n/workflows/resources_pilot_viability_start_v1.json
{
  "id": "e2a7df8b-49ab-4a87-a8cc-82453f85cc71",
  "name": "resources_pilot_viability_start_v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resources-pilot-viability-start-v1",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "50a0f960-03e9-4894-93c3-37cc6ecde536",
      "name": "Webhook_ResourcesPilotViabilityStart",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        260,
        300
      ],
      "webhookId": "resources-pilot-viability-start-v1"
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "request_id",
              "value": "={{ $node[\"Webhook_ResourcesPilotViabilityStart\"].json.headers?.[\"x-request-id\"] || $node[\"Webhook_ResourcesPilotViabilityStart\"].json.body?.request_id || $execution.id }}"
            },
            {
              "name": "workflow_version",
              "value": "resources_pilot_viability_start_v1"
            }
          ]
        },
        "options": {}
      },
      "id": "fcf99ca0-6c24-4238-a1ac-c17259215255",
      "name": "Set_StartPayload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3001/internal/sessions/resources-pilot-viability-start",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-shared-secret",
              "value": "={{ $env.INTERNAL_SHARED_SECRET }}"
            },
            {
              "name": "x-request-id",
              "value": "={{ $node[\"Webhook_ResourcesPilotViabilityStart\"].json.headers?.[\"x-request-id\"] || $node[\"Webhook_ResourcesPilotViabilityStart\"].json.body?.request_id || $execution.id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { request_id: ($node[\"Webhook_ResourcesPilotViabilityStart\"].json.headers?.[\"x-request-id\"] || $node[\"Webhook_ResourcesPilotViabilityStart\"].json.body?.request_id || $execution.id), workflow_version: $json.workflow_version, workflow_execution_id: $execution.id, payload: $node[\"Webhook_ResourcesPilotViabilityStart\"].json.body } }}",
        "options": {
          "timeout": 450000,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "75cd7a67-d150-435b-af53-060ee095de16",
      "name": "HTTP_StartResourcesPilotViability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.body ?? $json }}",
        "options": {
          "responseCode": "={{ Number($json.statusCode ?? 200) }}"
        }
      },
      "id": "b565f116-bc7e-485e-8da5-a637267df924",
      "name": "Respond_Start",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1080,
        300
      ]
    }
  ],
  "connections": {
    "Webhook_ResourcesPilotViabilityStart": {
      "main": [
        [
          {
            "node": "Set_StartPayload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_StartPayload": {
      "main": [
        [
          {
            "node": "HTTP_StartResourcesPilotViability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_StartResourcesPilotViability": {
      "main": [
        [
          {
            "node": "Respond_Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "resources_pilot_viability_start_v1"
}
